In [1]:
# Initial imports
import pandas as pd
from path import Path



from imblearn.ensemble import BalancedRandomForestClassifier

In [2]:
# Read from players_stats and players_salary from database 


import sys
sys.path.append('../Pre-processing')
from db_connect import engine

players_stats_df = pd.read_sql('SELECT * FROM PLAYERS_STATS_F',engine)
players_stats_df.head(10)


players_stats_df.count()

player_id                          1036
playing_season                     1036
position                           1036
age                                1036
team                               1036
games_played                       1036
minutes_played                     1036
field_goals_made                   1036
field_goals_percentage             1036
three_points_made                  1036
three_points_attempted             1036
three_point_percentage             1036
effective_field_goal_percentage    1036
free_throw_percentage              1036
total_rebounds                     1036
assists                            1036
steals                             1036
blocks                             1036
turnovers                          1036
points                             1036
assist_to_turnover_ratio           1036
dtype: int64

In [3]:
players_salary_df = pd.read_sql('SELECT * FROM PLAYERS_SALARY_F WHERE SALARY > 0', engine)
players_salary_df.head(10)

#players_salary_df.count()

   player_id  playing_season      salary
0  gordoaa01            2016   4351320.0
1  aminual01            2016   7680965.0
2  horfoal01            2016  26540100.0
3  burksal01            2016   9904495.0
4    lenal01            2016   4823621.0
5  crabbal01            2016  18500000.0
6  drumman01            2016  22116750.0
7  iguodan01            2016  11131368.0
8  wiggian01            2016   6006600.0
9  davisan02            2016  22116750.0

In [4]:
# Read player stats and keeping them in dataframe
#path= 'PLAYERS_STATS_F.csv'
#players_stats_df=pd.read_csv(path)
players_stats_df=players_stats_df.set_index('player_id')

players_stats_df

,playing_season,position,age,team,games_played,minutes_played,field_goals_made,field_goals_percentage,three_points_made,three_points_attempted,three_point_percentage,effective_field_goal_percentage,free_throw_percentage,total_rebounds,assists,steals,blocks,turnovers,points,assist_to_turnover_ratio
player_id,,,,,,,,,,,,,,,,,,,,
adamsst01,2016,C,23,OKC,80,29.9,4.7,0.571,0.0,0.000,0.571,2.0,0.611,7.7,1.1,1.1,1.0,1.8,11.3,1.0
aldrila01,2016,PF,31,SAS,72,32.4,6.9,0.477,0.3,0.411,0.488,3.1,0.812,7.3,1.9,0.6,1.2,1.4,17.3,1.0
aminual01,2016,PF,26,POR,61,29.1,3.0,0.393,1.1,0.330,0.468,1.6,0.706,7.4,1.6,1.0,0.7,1.5,8.7,1.0
anderju01,2016,SF,23,TOT,75,16.4,2.5,0.424,0.8,0.299,0.490,1.4,0.791,3.3,0.9,0.5,0.3,0.9,7.1,1.0
anderky01,2016,SF,23,SAS,72,14.2,1.3,0.445,0.2,0.375,0.481,0.6,0.789,2.9,1.3,0.7,0.4,0.5,3.4,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
caulewi01,2019,C,26,TOT,54,20.3,3.2,0.579,0.0,0.000,0.579,0.7,0.606,5.8,1.3,0.9,1.1,0.7,7.2,1.0
hernawi01,2019,C,25,CHO,31,12.1,2.4,0.532,0.2,0.227,0.550,1.2,0.627,4.3,0.9,0.3,0.2,1.0,6.1,1.0
chandwi01,2019,PF,32,BRK,35,21.0,2.1,0.404,1.1,0.306,0.505,0.6,0.870,4.1,1.1,0.5,0.3,1.0,5.9,1.0
ferreyo01,2019,PG,26,SAC,50,10.6,1.6,0.420,0.5,0.304,0.484,0.7,0.857,1.0,1.4,0.4,0.1,0.6,4.4,1.0
lavinza01,2019,SG,24,CHI,60,34.8,9.0,0.450,3.1,0.380,0.526,4.5,0.802,4.8,4.2,1.5,0.5,3.4,25.5,1.0

In [5]:
player_stats_avg_df= players_stats_df.groupby(['player_id']).mean()[['games_played','minutes_played','field_goals_percentage','three_point_percentage',''\
          'effective_field_goal_percentage','free_throw_percentage','total_rebounds','assists','steals','blocks',\
          'turnovers','points']]

player_stats_avg_df.head()

# Read player slary and keeping them in dataframe
#path= 'PLAYERS_SALARIES_F.csv'
#players_salaries_df=pd.read_csv(path)
players_salary_df=players_salary_df.set_index('player_id')
#players_salaries_df = players_salaries_df.dropna()
#players_salaries_df.count()
players_salaries_avg_df= players_salary_df.groupby(['player_id']).mean()['salary']

players_salaries_avg_df

player_id
adamsst01    18903107.25
aldrila01    22595757.50
aminual01     7803776.25
anderju01     1476019.75
anderky01     5264458.50
                ...
wrighde01     3808265.50
youngth01    12916011.25
zelleco01    11475645.75
zellety01     3318408.00
zubaciv01     2593477.25
Name: salary, Length: 259, dtype: float64

In [6]:
player_stats_with_salary = player_stats_avg_df.merge(players_salaries_avg_df, left_index=True,right_index=True)
player_stats_with_salary.head()

,games_played,minutes_played,field_goals_percentage,three_point_percentage,effective_field_goal_percentage,free_throw_percentage,total_rebounds,assists,steals,blocks,turnovers,points,salary
player_id,,,,,,,,,,,,,
adamsst01,74.75,30.675,0.59675,0.59700,1.950,0.56300,8.875,1.550,1.150,1.025,1.675,12.500,18903107.25
aldrila01,70.25,33.050,0.49975,0.51550,3.725,0.83075,8.100,2.175,0.600,1.325,1.525,20.150,22595757.50
aminual01,57.25,27.125,0.37800,0.45700,1.375,0.74150,6.825,1.325,0.975,0.525,1.100,7.925,7803776.25
anderju01,42.75,12.600,0.38150,0.45775,0.700,0.69275,2.400,0.725,0.350,0.350,0.550,4.950,1476019.75
anderky01,64.00,22.650,0.49725,0.52525,0.925,0.68650,4.600,2.350,1.100,0.675,1.025,6.275,5264458.50

In [7]:
player_stats_with_salary.count()

games_played                       259
minutes_played                     259
field_goals_percentage             259
three_point_percentage             259
effective_field_goal_percentage    259
free_throw_percentage              259
total_rebounds                     259
assists                            259
steals                             259
blocks                             259
turnovers                          259
points                             259
salary                             259
dtype: int64

In [8]:
def salary_increased_or_not_labeling(player_id):
    #first_playing_season=''
    #first_season_salary=''
    
    # find out the first season and salary of the player to be compared
    
    first_playing_season =  players_salaries_reset_df[(players_salaries_reset_df['player_id'] == player_id)]['playing_season'].min()  
    #print(first_playing_season)
    
    
    first_season_salary = players_salaries_reset_df[(players_salaries_reset_df['playing_season'] ==first_playing_season)\
                                      &  (players_salaries_reset_df['player_id'] ==player_id)]['salary'].min()                          
                                            
   
    # find out the last season and salary of the player to be compared
    
    last_playing_season =  players_salaries_reset_df[(players_salaries_reset_df['player_id'] == player_id)]['playing_season'].max()  

    
    
    last_season_salary = players_salaries_reset_df[(players_salaries_reset_df['playing_season'] ==last_playing_season)\
                                      &  (players_salaries_reset_df['player_id'] ==player_id)]['salary'].max()                           

    
    # find out the raio of last year/first year salary so that salaries can be standardized to be compared
    
    if first_season_salary > 0:
        ratio_to_standardize = round(last_season_salary/first_season_salary,2)
    else:
        ratio_to_standardize=0
   
    print('ratio_to_standardize', ratio_to_standardize)
    
    
    # Compare the Salary (If Salary increased then return 1, if decreased then return 2 and if remains same then 0)
    
    first_season_salary_standardized = first_season_salary * ratio_to_standardize
    
    print('last_season_salary', last_season_salary)
    print('first_season_salary_standardized', first_season_salary_standardized)
    
    if (last_season_salary > first_season_salary_standardized):
        return 1
   
    elif (last_season_salary < first_season_salary_standardized):
        return 2
    else:    
        return 0

In [9]:
#players_salary_df.head()
#players_salaries_reset_df = players_salary_df.reset_index(['player_id'])
#players_salaries_reset_df.head()

In [10]:
#salary_label = salary_increased_or_not_labeling('aminual01')
#print('salary label',salary_label)

#players_salaries_reset_df[(players_salaries_reset_df['player_id'] == 'aminual01')]

In [11]:
#player_first_year_salary = players_salaries_df[(players_salaries_df['player_id'] == 'acyqu01') & \
#                                              (players_salaries_df['playing_season'] == '2016-2017')]['player_salary']
#player_first_year_salary[1]

In [12]:
#player_stats_with_salary.head()

In [13]:

import warnings
warnings.filterwarnings('ignore')

players_salaries_reset_df = players_salary_df.reset_index(['player_id'])

player_stats_with_salary_aggregated = player_stats_with_salary.reset_index(['player_id'])
player_stats_with_salary_aggregated['salary_increased_yorn'] = player_stats_with_salary_aggregated['player_id'].apply(salary_increased_or_not_labeling)
player_stats_with_salary_forML= player_stats_with_salary_aggregated.set_index(['player_id']).dropna()
player_stats_with_salary_forML


#player_stats_with_salary_aggregated['player_id'].apply(salary_increased_or_not_labeling)

ratio_to_standardize 8.23
last_season_salary 25842697.0
first_season_salary_standardized 25846454.91
ratio_to_standardize 1.26
last_season_salary 26000000.0
first_season_salary_standardized 25924506.3
ratio_to_standardize 1.21
last_season_salary 9258000.0
first_season_salary_standardized 9293967.65
ratio_to_standardize 0.19
last_season_salary 294432.0
first_season_salary_standardized 287690.4
ratio_to_standardize 7.61
last_season_salary 9073050.0
first_season_salary_standardized 9071728.8
ratio_to_standardize 0.31
last_season_salary 5714583.0
first_season_salary_standardized 5807962.84
ratio_to_standardize 8.63
last_season_salary 25842697.0
first_season_salary_standardized 25850474.6
ratio_to_standardize 0.09
last_season_salary 2159029.0
first_season_salary_standardized 2210344.1999999997
ratio_to_standardize 1.56
last_season_salary 12200000.0
first_season_salary_standardized 12168000.0
ratio_to_standardize 1.0
last_season_salary 7250000.0
first_season_salary_standardized 7250000.0
ratio_to_standardize 1.0
last_season_salary 2564753.0
first_season_salary_standardized 2564753.0
ratio_to_standardize 1.09
last_season_salary 24147727.0
first_season_salary_standardized 24107257.5
ratio_to_standardize 3.67
last_season_salary 12960000.0
first_season_salary_standardized 12967332.11
ratio_to_standardize 1.22
last_season_salary 25565217.0
first_season_salary_standardized 25460870.52
ratio_to_standardize 0.84
last_season_salary 5453280.0
first_season_salary_standardized 5460000.0
ratio_to_standardize 1.22
last_season_salary 19269662.0
first_season_salary_standardized 19191011.14
ratio_to_standardize 1.23
last_season_salary 27093019.0
first_season_salary_standardized 27203602.5
ratio_to_standardize 1.68
last_season_salary 2731714.0
first_season_salary_standardized 2733897.6
ratio_to_standardize 0.92
last_season_salary 5846154.0
first_season_salary_standardized 5826666.36
ratio_to_standardize 1.0
last_season_salary 2603982.0
first_season_salary_standardized 2603982.0
ratio_to_standardize 0.44
last_season_salary 1868556.0
first_season_salary_standardized 1881580.8
ratio_to_standardize 12.88
last_season_salary 7000000.0
first_season_salary_standardized 6999906.48
ratio_to_standardize 2.06
last_season_salary 12345679.0
first_season_salary_standardized 12360000.0
ratio_to_standardize 1.0
last_season_salary 17000000.0
first_season_salary_standardized 17000000.0
ratio_to_standardize 1.8
last_season_salary 6825000.0
first_season_salary_standardized 6840000.0
ratio_to_standardize 1.12
last_season_salary 15625000.0
first_season_salary_standardized 15680000.000000002
ratio_to_standardize 4.76
last_season_salary 17000000.0
first_season_salary_standardized 17007575.2
ratio_to_standardize 12.25
last_season_salary 27250000.0
first_season_salary_standardized 27239100.0
ratio_to_standardize 0.82
last_season_salary 6767000.0
first_season_salary_standardized 6781123.659999999
ratio_to_standardize 0.04
last_season_salary 289803.0
first_season_salary_standardized 304486.88
ratio_to_standardize 22.86
last_season_salary 20000000.0
first_season_salary_standardized 20002500.0
ratio_to_standardize 1.38
last_season_salary 6534829.0
first_season_salary_standardized 6545339.999999999
ratio_to_standardize 1.77
last_season_salary 4000000.0
first_season_salary_standardized 3992489.88
ratio_to_standardize 0.67
last_season_salary 2257814.0
first_season_salary_standardized 2269019.99
ratio_to_standardize 0.23
last_season_salary 2320044.0
first_season_salary_standardized 2278033.85
ratio_to_standardize 1.87
last_season_salary 32742000.0
first_season_salary_standardized 32822630.830000002
ratio_to_standardize 1.16
last_season_salary 1845301.0
first_season_salary_standardized 1843982.4
ratio_to_standardize 2.2
last_season_salary 8089282.0
first_season_salary_standardized 8092301.800000001
ratio_to_standardize 12.7
last_season_salary 16456522.0
first_season_salary_standardized 16462248.0
ratio_to_standardize 0.54
last_season_salary 7653754.0
first_season_salary_standardized 7668000.000000001
ratio_to_standardize 0.64
last_season_salary 2028594.0
first_season_salary_standardized 2037456.6400000001
ratio_to_standardize 0.6
last_season_salary 2564753.0
first_season_salary_standardized 2558434.1999999997
ratio_to_standardize 0.61
last_season_salary 2177483.0
first_season_salary_standardized 2166207.6
ratio_to_standardize 0.21
last_season_salary 2564753.0
first_season_salary_standardized 2607150.0
ratio_to_standardize 0.23
last_season_salary 2564753.0
first_season_salary_standardized 2583623.58
ratio_to_standardize 0.48
last_season_salary 1413272.0
first_season_salary_standardized 1411891.2
ratio_to_standardize 1.07
last_season_salary 13437500.0
first_season_salary_standardized 13375000.0
ratio_to_standardize 1.23
last_season_salary 32511623.0
first_season_salary_standardized 32644323.0
ratio_to_standardize 1.97
last_season_salary 1723050.0
first_season_salary_standardized 1723032.92
ratio_to_standardize 15.8
last_season_salary 3000000.0
first_season_salary_standardized 2999345.6
ratio_to_standardize 11.13
last_season_salary 11301219.0
first_season_salary_standardized 11304696.48
ratio_to_standardize 0.96
last_season_salary 17818456.0
first_season_salary_standardized 17760000.0
ratio_to_standardize 0.02
last_season_salary 289803.0
first_season_salary_standardized 265060.24
ratio_to_standardize 1.24
last_season_salary 7815533.0
first_season_salary_standardized 7795145.92
ratio_to_standardize 3.32
last_season_salary 40231758.0
first_season_salary_standardized 40213031.879999995
ratio_to_standardize 0.75
last_season_salary 2509594.0
first_season_salary_standardized 2499705.0
ratio_to_standardize 1.23
last_season_salary 27093019.0
first_season_salary_standardized 27203602.5
ratio_to_standardize 0.72
last_season_salary 4767000.0
first_season_salary_standardized 4800000.24
ratio_to_standardize 4.6
last_season_salary 13333334.0
first_season_salary_standardized 13330799.999999998
ratio_to_standardize 1.0
last_season_salary 9607500.0
first_season_salary_standardized 9607500.0
ratio_to_standardize 1.05
last_season_salary 27739975.0
first_season_salary_standardized 27867105.0
ratio_to_standardize 3.09
last_season_salary 1678854.0
first_season_salary_standardized 1679325.39
ratio_to_standardize 6.91
last_season_salary 16229213.0
first_season_salary_standardized 16230083.620000001
ratio_to_standardize 14.59
last_season_salary 10600000.0
first_season_salary_standardized 10602144.48
ratio_to_standardize 1.21
last_season_salary 19217900.0
first_season_salary_standardized 19228987.25
ratio_to_standardize 1.23
last_season_salary 27093019.0
first_season_salary_standardized 27203602.5
ratio_to_standardize 0.24
last_season_salary 2564753.0
first_season_salary_standardized 2512800.0
ratio_to_standardize 1.38
last_season_salary 5348007.0
first_season_salary_standardized 5344077.6
ratio_to_standardize 1.29
last_season_salary 2199311.0
first_season_salary_standardized 2198314.8000000003
ratio_to_standardize 1.3
last_season_salary 7804878.0
first_season_salary_standardized 7800000.0
ratio_to_standardize 5.7
last_season_salary 27504630.0
first_season_salary_standardized 27509112.0
ratio_to_standardize 0.65
last_season_salary 1882867.0
first_season_salary_standardized 1883700.0
ratio_to_standardize 2.44
last_season_salary 9600000.0
first_season_salary_standardized 9614380.799999999
ratio_to_standardize 1.6
last_season_salary 17650000.0
first_season_salary_standardized 17680000.0
ratio_to_standardize 9.33
last_season_salary 8156500.0
first_season_salary_standardized 8160353.88
ratio_to_standardize 2.4
last_season_salary 3150000.0
first_season_salary_standardized 3150266.4
ratio_to_standardize 7.36
last_season_salary 4000000.0
first_season_salary_standardized 3999946.56
ratio_to_standardize 5.29
last_season_salary 2875000.0
first_season_salary_standardized 2874961.59
ratio_to_standardize 1.0
last_season_salary 17000000.0
first_season_salary_standardized 17000000.0
ratio_to_standardize 0.9
last_season_salary 1882867.0
first_season_salary_standardized 1881000.0
ratio_to_standardize 1.5
last_season_salary 22615559.0
first_season_salary_standardized 22575000.0
ratio_to_standardize 1.41
last_season_salary 7333333.0
first_season_salary_standardized 7332000.0
ratio_to_standardize 1.21
last_season_salary 25595700.0
first_season_salary_standardized 25610466.75
ratio_to_standardize 1.05
last_season_salary 14000000.0
first_season_salary_standardized 13999999.65
ratio_to_standardize 1.82
last_season_salary 33005556.0
first_season_salary_standardized 32942000.0
ratio_to_standardize 1.09
last_season_salary 9800000.0
first_season_salary_standardized 9755500.0
ratio_to_standardize 11.79
last_season_salary 25008427.0
first_season_salary_standardized 25009973.729999997
ratio_to_standardize 4.56
last_season_salary 19863636.0
first_season_salary_standardized 19842019.2
ratio_to_standardize 1.14
last_season_salary 14057730.0
first_season_salary_standardized 14119658.1
ratio_to_standardize 3.09
last_season_salary 1678854.0
first_season_salary_standardized 1679325.39
ratio_to_standardize 9.53
last_season_salary 9346153.0
first_season_salary_standardized 9343507.43
ratio_to_standardize 0.12
last_season_salary 196288.0
first_season_salary_standardized 197164.8
ratio_to_standardize 1.46
last_season_salary 14634146.0
first_season_salary_standardized 14600000.0
ratio_to_standardize 1.21
last_season_salary 18539130.0
first_season_salary_standardized 18549826.349999998
ratio_to_standardize 4.86
last_season_salary 4767000.0
first_season_salary_standardized 4764894.66
ratio_to_standardize 0.23
last_season_salary 3405180.0
first_season_salary_standardized 3450000.0
ratio_to_standardize 1.7
last_season_salary 34234964.0
first_season_salary_standardized 34158208.8
ratio_to_standardize 7.95
last_season_salary 18150000.0
first_season_salary_standardized 18138759.75
ratio_to_standardize 1.42
last_season_salary 37800000.0
first_season_salary_standardized 37686942.0
ratio_to_standardize 1.0
last_season_salary 11511234.0
first_season_salary_standardized 11511234.0
ratio_to_standardize 5.74
last_season_salary 6000000.0
first_season_salary_standardized 5998300.0
ratio_to_standardize 10.77
last_season_salary 17839286.0
first_season_salary_standardized 17833827.599999998
ratio_to_standardize 7.82
last_season_salary 7670000.0
first_season_salary_standardized 7666970.42
ratio_to_standardize 1.8
last_season_salary 31034483.0
first_season_salary_standardized 30960000.0
ratio_to_standardize 0.64
last_season_salary 2564753.0
first_season_salary_standardized 2560000.0
ratio_to_standardize 2.03
last_season_salary 32700690.0
first_season_salary_standardized 32628474.199999996
ratio_to_standardize 0.79
last_season_salary 9732396.0
first_season_salary_standardized 9691408.74
ratio_to_standardize 1.67
last_season_salary 3321030.0
first_season_salary_standardized 3319024.8
ratio_to_standardize 1.22
last_season_salary 1676735.0
first_season_salary_standardized 1677500.0
ratio_to_standardize 0.44
last_season_salary 1737145.0
first_season_salary_standardized 1720329.6
ratio_to_standardize 1.38
last_season_salary 4861208.0
first_season_salary_standardized 4853736.0
ratio_to_standardize 1.27
last_season_salary 10133907.0
first_season_salary_standardized 10160000.0
ratio_to_standardize 1.13
last_season_salary 13258781.0
first_season_salary_standardized 13231851.389999999
ratio_to_standardize 2.38
last_season_salary 26131111.0
first_season_salary_standardized 26180000.0
ratio_to_standardize 4.69
last_season_salary 4767000.0
first_season_salary_standardized 4763614.24
ratio_to_standardize 1.79
last_season_salary 2500000.0
first_season_salary_standardized 2498124.0
ratio_to_standardize 4.66
last_season_salary 4767000.0
first_season_salary_standardized 4771840.0
ratio_to_standardize 4.07
last_season_salary 5718000.0
first_season_salary_standardized 5724536.4
ratio_to_standardize 1.06
last_season_salary 28000000.0
first_season_salary_standardized 28132506.0
ratio_to_standardize 6.51
last_season_salary 3540000.0
first_season_salary_standardized 3537996.21

ratio_to_standardize 0.24
last_season_salary 5603850.0
first_season_salary_standardized 5640000.0
ratio_to_standardize 1.9
last_season_salary 23271604.0
first_season_salary_standardized 23275000.0
ratio_to_standardize 1.54
last_season_salary 17185185.0
first_season_salary_standardized 17142306.72
ratio_to_standardize 0.83
last_season_salary 7000000.0
first_season_salary_standardized 6972000.0
ratio_to_standardize 5.69
last_season_salary 11954546.0
first_season_salary_standardized 11949000.0
ratio_to_standardize 1.38
last_season_salary 7265485.0
first_season_salary_standardized 7288718.399999999
ratio_to_standardize 1.8
last_season_salary 31742000.0
first_season_salary_standardized 31748513.400000002
ratio_to_standardize 1.2
last_season_salary 18020981.0
first_season_salary_standardized 17947826.4
ratio_to_standardize 1.21
last_season_salary 37436858.0
first_season_salary_standardized 37465774.5
ratio_to_standardize 3.84
last_season_salary 15349400.0
first_season_salary_standardized 15360000.0
ratio_to_standardize 1.22
last_season_salary 3623000.0
first_season_salary_standardized 3623253.6
ratio_to_standardize 3.46
last_season_salary 19458123.0
first_season_salary_standardized 19472880.0
ratio_to_standardize 19.56
last_season_salary 26573595.0
first_season_salary_standardized 26572260.0
ratio_to_standardize 1.97
last_season_salary 2305057.0
first_season_salary_standardized 2307973.2
ratio_to_standardize 3.03
last_season_salary 1645357.0
first_season_salary_standardized 1646717.13
ratio_to_standardize 6.28
last_season_salary 8408000.0
first_season_salary_standardized 8413190.4
ratio_to_standardize 0.47
last_season_salary 9881598.0
first_season_salary_standardized 9947867.25
ratio_to_standardize 1.64
last_season_salary 12000000.0
first_season_salary_standardized 11996600.0
ratio_to_standardize 1.75
last_season_salary 4767000.0
first_season_salary_standardized 4777500.0
ratio_to_standardize 0.28
last_season_salary 4767000.0
first_season_salary_standardized 4800834.640000001
ratio_to_standardize 1.06
last_season_salary 13810763.0
first_season_salary_standardized 13780000.0
ratio_to_standardize 1.15
last_season_salary 6004753.0
first_season_salary_standardized 6025352.55
ratio_to_standardize 1.97
last_season_salary 2338847.0
first_season_salary_standardized 2342014.8
ratio_to_standardize 1.5
last_season_salary 10500000.0
first_season_salary_standardized 10500000.0
ratio_to_standardize 8.7
last_season_salary 19500000.0
first_season_salary_standardized 19495656.0
ratio_to_standardize 5.97
last_season_salary 3581986.0
first_season_salary_standardized 3582000.0
ratio_to_standardize 1.14
last_season_salary 12759670.0
first_season_salary_standardized 12815879.999999998
ratio_to_standardize 0.86
last_season_salary 4160000.0
first_season_salary_standardized 4148314.06
ratio_to_standardize 1.86
last_season_salary 32742000.0
first_season_salary_standardized 32806797.180000003
ratio_to_standardize 1.22
last_season_salary 11286515.0
first_season_salary_standardized 11240450.48
ratio_to_standardize 1.68
last_season_salary 2625718.0
first_season_salary_standardized 2624630.4
ratio_to_standardize 1.23
last_season_salary 29802321.0
first_season_salary_standardized 29923962.75
ratio_to_standardize 3.77
last_season_salary 4464286.0
first_season_salary_standardized 4459306.8
ratio_to_standardize 0.57
last_season_salary 12093024.0
first_season_salary_standardized 12064434.749999998
ratio_to_standardize 0.36
last_season_salary 4767000.0
first_season_salary_standardized 4758930.0
ratio_to_standardize 1.37
last_season_salary 28900000.0
first_season_salary_standardized 28996974.750000004
ratio_to_standardize 2.77
last_season_salary 33296296.0
first_season_salary_standardized 33240000.0
ratio_to_standardize 0.64
last_season_salary 844170.0
first_season_salary_standardized 849254.4
ratio_to_standardize 2.35
last_season_salary 5500000.0
first_season_salary_standardized 5500410.0
ratio_to_standardize 0.97
last_season_salary 15450051.0
first_season_salary_standardized 15520000.0
ratio_to_standardize 1.39
last_season_salary 3569643.0
first_season_salary_standardized 3570353.9999999995
ratio_to_standardize 0.62
last_season_salary 3500000.0
first_season_salary_standardized 3489360.0
ratio_to_standardize 0.15
last_season_salary 2564753.0
first_season_salary_standardized 2571875.6999999997
ratio_to_standardize 0.13
last_season_salary 289803.0
first_season_salary_standardized 286390.0
ratio_to_standardize 7.36
last_season_salary 4000000.0
first_season_salary_standardized 3999946.56
ratio_to_standardize 8.56
last_season_salary 27556959.0
first_season_salary_standardized 27559596.240000002
ratio_to_standardize 1.0
last_season_salary 3500000.0
first_season_salary_standardized 3500000.0
ratio_to_standardize 2.95
last_season_salary 7333334.0
first_season_salary_standardized 7324968.0
ratio_to_standardize 2.85
last_season_salary 4000000.0
first_season_salary_standardized 4000291.35
ratio_to_standardize 8.52
last_season_salary 4629630.0
first_season_salary_standardized 4630372.92
ratio_to_standardize 0.51
last_season_salary 2028594.0
first_season_salary_standardized 2044529.82
ratio_to_standardize 2.01
last_season_salary 30603448.0
first_season_salary_standardized 30551999.999999996
ratio_to_standardize 1.0
last_season_salary 8730158.0
first_season_salary_standardized 8730158.0
ratio_to_standardize 1.52
last_season_salary 30500000.0
first_season_salary_standardized 30509490.16
ratio_to_standardize 1.0
last_season_salary 12428571.0
first_season_salary_standardized 12428571.0
ratio_to_standardize 0.98
last_season_salary 8664928.0
first_season_salary_standardized 8625335.74
ratio_to_standardize 0.54
last_season_salary 3991808.0
first_season_salary_standardized 3996000.0000000005
ratio_to_standardize 3.24
last_season_salary 15000000.0
first_season_salary_standardized 14985000.000000002
ratio_to_standardize 0.54
last_season_salary 1737145.0
first_season_salary_standardized 1750572.0
ratio_to_standardize 1.38
last_season_salary 4444746.0
first_season_salary_standardized 4430959.199999999
ratio_to_standardize 2.0
last_season_salary 2028594.0
first_season_salary_standardized 2031392.0
ratio_to_standardize 1.0
last_season_salary 12727273.0
first_season_salary_standardized 12727273.0
ratio_to_standardize 1.39
last_season_salary 1882867.0
first_season_salary_standardized 1876666.7999999998
ratio_to_standardize 1.98
last_season_salary 1737145.0
first_season_salary_standardized 1738044.0
ratio_to_standardize 2.58
last_season_salary 1678854.0
first_season_salary_standardized 1677000.0
ratio_to_standardize 0.4
last_season_salary 6866370.0
first_season_salary_standardized 6800000.0
ratio_to_standardize 0.46
last_season_salary 2028594.0
first_season_salary_standardized 2016865.4000000001
ratio_to_standardize 6.25
last_season_salary 12000000.0
first_season_salary_standardized 12008250.0
ratio_to_standardize 1.97
last_season_salary 2581965.0
first_season_salary_standardized 2585843.67
ratio_to_standardize 0.36
last_season_salary 1702486.0
first_season_salary_standardized 1723982.4
ratio_to_standardize 3.2
last_season_salary 21000000.0
first_season_salary_standardized 20969472.0
ratio_to_standardize 3.77
last_season_salary 11667885.0
first_season_salary_standardized 11664429.01
ratio_to_standardize 0.52
last_season_salary 2028594.0
first_season_salary_standardized 2037750.0
ratio_to_standardize 1.0
last_season_salary 15625000.0
first_season_salary_standardized 15625000.0
ratio_to_standardize 1.21
last_season_salary 6500000.0
first_season_salary_standardized 6502927.2
ratio_to_standardize 1.13
last_season_salary 25102511.0
first_season_salary_standardized 24991927.499999996
ratio_to_standardize 0.51
last_season_salary 3068660.0
first_season_salary_standardized 3085500.0
ratio_to_standardize 1.68
last_season_salary 38506482.0
first_season_salary_standardized 38419629.36
ratio_to_standardize 0.16
last_season_salary 346288.0
first_season_salary_standardized 337996.8
ratio_to_standardize 3.06
last_season_salary 8000000.0
first_season_salary_standardized 7997616.0
ratio_to_standardize 1.0
last_season_salary 1090781.0
first_season_salary_standardized 1090781.0
ratio_to_standardize 6.03
last_season_salary 14041096.0
first_season_salary_standardized 14041035.9
ratio_to_standardize 1.0
last_season_salary 3754886.0
first_season_salary_standardized 3754886.0
ratio_to_standardize 4.62
last_season_salary 27250576.0
first_season_salary_standardized 27230192.22
ratio_to_standardize 10.68
last_season_salary 15000000.0
first_season_salary_standardized 15001128.0
ratio_to_standardize 1.23
last_season_salary 10259375.0
first_season_salary_standardized 10301250.0
ratio_to_standardize 11.57
last_season_salary 10116576.0
first_season_salary_standardized 10119538.52
ratio_to_standardize 1.0
last_season_salary 3481986.0
first_season_salary_standardized 3481986.0
ratio_to_standardize 5.51
last_season_salary 18000000.0
first_season_salary_standardized 18001831.2
ratio_to_standardize 1.0
last_season_salary 13486300.0
first_season_salary_standardized 13486300.0
ratio_to_standardize 11.55
last_season_salary 10100000.0
first_season_salary_standardized 10102045.8
ratio_to_standardize 0.2
last_season_salary 2174318.0
first_season_salary_standardized 2200000.0
ratio_to_standardize 1.79
last_season_salary 1882867.0
first_season_salary_standardized 1880395.0
ratio_to_standardize 0.18
last_season_salary 2564753.0
first_season_salary_standardized 2520000.0
ratio_to_standardize 0.34
last_season_salary 7317073.0
first_season_salary_standardized 7249905.680000001
ratio_to_standardize 1.25
last_season_salary 12500000.0
first_season_salary_standardized 12500000.0
ratio_to_standardize 10.44
last_season_salary 19894737.0
first_season_salary_standardized 19903233.599999998
ratio_to_standardize 1.21
last_season_salary 16190476.0
first_season_salary_standardized 16214000.0
ratio_to_standardize 5.12
last_season_salary 27285000.0
first_season_salary_standardized 27303936.0
ratio_to_standardize 1.45
last_season_salary 3529555.0
first_season_salary_standardized 3538290.0
ratio_to_standardize 1.5
last_season_salary 3481986.0
first_season_salary_standardized 3477420.0
ratio_to_standardize 3.48
last_season_salary 10000000.0
first_season_salary_standardized 9990429.24
ratio_to_standardize 5.72
last_season_salary 15500000.0
first_season_salary_standardized 15493089.04
ratio_to_standardize 1.43
last_season_salary 4767000.0
first_season_salary_standardized 4766666.1899999995
ratio_to_standardize 0.64
last_season_salary 2564753.0
first_season_salary_standardized 2560000.0
ratio_to_standardize 0.04
last_season_salary 419443.0
first_season_salary_standardized 386516.88
ratio_to_standardize 1.97
last_season_salary 2351839.0
first_season_salary_standardized 2356198.8
ratio_to_standardize 3.51
last_season_salary 12553471.0
first_season_salary_standardized 12561868.799999999
ratio_to_standardize 1.0
last_season_salary 5853659.0
first_season_salary_standardized 5853659.0
ratio_to_standardize 1.0
last_season_salary 1746470.0
first_season_salary_standardized 1746470.0
ratio_to_standardize 4.81
last_season_salary 11392857.0
first_season_salary_standardized 11391652.87
ratio_to_standardize 2.38
last_season_salary 19000000.0
first_season_salary_standardized 19040000.0
ratio_to_standardize 0.6
last_season_salary 4767000.0
first_season_salary_standardized 4800000.0
ratio_to_standardize 0.35
last_season_salary 2320044.0
first_season_salary_standardized 2305495.8499999996
ratio_to_standardize 0.04
last_season_salary 262152.0
first_season_salary_standardized 247640.0
ratio_to_standardize 1.21
last_season_salary 18539130.0
first_season_salary_standardized 18549826.349999998
ratio_to_standardize 0.36
last_season_salary 2854556.0
first_season_salary_standardized 2880000.0
ratio_to_standardize 4.57
last_season_salary 27250000.0
first_season_salary_standardized 27237931.200000003
ratio_to_standardize 1.0
last_season_salary 8349039.0
first_season_salary_standardized 8349039.0
ratio_to_standardize 1.13
last_season_salary 18606557.0
first_season_salary_standardized 18524590.59
ratio_to_standardize 7.56
last_season_salary 18000000.0
first_season_salary_standardized 17996126.4
ratio_to_standardize 1.11
last_season_salary 16000000.0
first_season_salary_standardized 15964045.530000001
ratio_to_standardize 16.56
last_season_salary 9000000.0
first_season_salary_standardized 8999879.76

ratio_to_standardize 0.73
last_season_salary 2000000.0
first_season_salary_standardized 2008492.8
ratio_to_standardize 2.38
last_season_salary 28000000.0
first_season_salary_standardized 27965000.0
ratio_to_standardize 4.35
last_season_salary 12603656.0
first_season_salary_standardized 12606299.999999998
ratio_to_standardize 2.73
last_season_salary 32742000.0
first_season_salary_standardized 32760000.0
ratio_to_standardize 1.0
last_season_salary 10810000.0
first_season_salary_standardized 10810000.0
ratio_to_standardize 1.44
last_season_salary 38178000.0
first_season_salary_standardized 38217744.0
ratio_to_standardize 1.22
last_season_salary 27093018.0
first_season_salary_standardized 26982435.0
ratio_to_standardize 4.58
last_season_salary 27504630.0
first_season_salary_standardized 27510228.0
ratio_to_standardize 1.0
last_season_salary 8000000.0
first_season_salary_standardized 8000000.0
ratio_to_standardize 1.3
last_season_salary 15962599.0
first_season_salary_standardized 15925000.0
ratio_to_standardize 5.01
last_season_salary 13000000.0
first_season_salary_standardized 12993134.4
ratio_to_standardize 6.01
last_season_salary 9473684.0
first_season_salary_standardized 9479452.799999999
ratio_to_standardize 1.07
last_season_salary 12900000.0
first_season_salary_standardized 12924157.64
ratio_to_standardize 2.72
last_season_salary 14471910.0
first_season_salary_standardized 14465811.360000001
ratio_to_standardize 0.03
last_season_salary 245686.0
first_season_salary_standardized 240000.0
ratio_to_standardize 6.26
last_season_salary 6481482.0
first_season_salary_standardized 6478254.899999999

,games_played,minutes_played,field_goals_percentage,three_point_percentage,effective_field_goal_percentage,free_throw_percentage,total_rebounds,assists,steals,blocks,turnovers,points,salary,salary_increased_yorn
player_id,,,,,,,,,,,,,,
adamsst01,74.75,30.675,0.59675,0.59700,1.950,0.56300,8.875,1.550,1.150,1.025,1.675,12.500,18903107.25,2
aldrila01,70.25,33.050,0.49975,0.51550,3.725,0.83075,8.100,2.175,0.600,1.325,1.525,20.150,22595757.50,1
aminual01,57.25,27.125,0.37800,0.45700,1.375,0.74150,6.825,1.325,0.975,0.525,1.100,7.925,7803776.25,2
anderju01,42.75,12.600,0.38150,0.45775,0.700,0.69275,2.400,0.725,0.350,0.350,0.550,4.950,1476019.75,1
anderky01,64.00,22.650,0.49725,0.52525,0.925,0.68650,4.600,2.350,1.100,0.675,1.025,6.275,5264458.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wrighde01,61.00,20.375,0.44575,0.49825,1.425,0.78900,3.000,2.900,1.100,0.400,1.000,7.300,3808265.50,2
youngth01,75.00,29.500,0.49725,0.53775,0.775,0.58700,5.950,1.950,1.525,0.400,1.425,11.425,12916011.25,2
zelleco01,50.50,23.825,0.54775,0.55600,2.075,0.71650,6.450,1.525,0.725,0.675,1.150,9.650,11475645.75,1
zellety01,31.25,11.150,0.45925,0.46300,0.900,0.51600,3.250,0.550,0.125,0.350,0.450,4.725,3318408.00,1
zubaciv01,53.00,15.375,0.55025,0.55025,1.275,0.74175,5.175,0.900,0.250,0.750,0.850,7.100,2593477.25,1

In [14]:
# Create our features
x_cols = [i for i in player_stats_with_salary_forML.columns if i not in ('salary_increased_yorn')]  
X = player_stats_with_salary_forML[x_cols]
X.describe()

y=player_stats_with_salary_forML['salary_increased_yorn']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
y_test

player_id
noahjo01     1
burksal01    1
nurkiju01    2
tollian01    2
russeda01    2
            ..
morrima02    2
lylestr01    2
harrijo01    1
bradlav01    2
bealbr01     2
Name: salary_increased_yorn, Length: 65, dtype: int64

In [16]:
# Apply random firest 

clf = BalancedRandomForestClassifier(n_estimators=100,max_depth=None, random_state=1)
clf.fit(X_train, y_train)  

y_pred=clf.predict(X_test)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

           Prediction  Actual
player_id
noahjo01            2       1
burksal01           0       1
nurkiju01           2       2
tollian01           1       2
russeda01           2       2
...               ...     ...
morrima02           0       2
lylestr01           0       2
harrijo01           1       1
bradlav01           1       2
bealbr01            2       2

[65 rows x 2 columns]

In [17]:
# Calculated the balanced accuracy score

from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.405580693815988

In [18]:
# Display the confusion matrix

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 2,  2,  1],
       [ 9,  9,  8],
       [ 8, 10, 16]], dtype=int64)